{% extends "base.html" %}

{% block content %}
<div class='row grad'>
    <h1 class='center'>About.</h1>
</div>

<div>Welcome to Blanks by Manzanita, the best repository of hand-made surfboard blanks known to man. <br><br> You must login to create a new blank category (e.g. longboards, fish, eggs etc) and to add items to various categories.  You can use your google or facebook account to login.  <br><br>You can only edit or delete categories or items you have added.  <br><br>Have fun!</div>


{% endblock %}