{% extends "base.html" %}

{% block content %}

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript">
function shakeit(){
    // $('#shakediv').effect('shake', {times: 1, distance: 3, direction: 'up'},2);
    $('#shakediv').effect('shake', {times: 2, distance: 5, direction: 'right'},1);
    $('#shakediv').effect('shake', {times: 2, distance: 5, direction: 'left'}),1;
    }
$(document).ready(function(){
    setInterval(shakeit,100);
});
</script>

<main>
    <h3>Delete this category?</h3>
    <article id = "shakediv" class=base-row>{{category.name}}</article>
    <form method='post'>
        <input name="STATE" type="hidden" value="{{ STATE }}">
        <button type='submit' class="cancel-button" name='submit' value="cancel">Cancel</button>
        <button type='submit' class="confirm-button" name='submit' value="confirm">Yes</button>
    </form>
</main>


{% endblock %}