{% extends "base.html" %}

{% block content %}

    <main>
        <h3>Make a new category.</h3>
        <form method='post'>
        <div class='base-row'>
            <article class="base-article">
              Category name: <br> <input maxlength="250" size = "80" height = "40" type="text" name="newName">
            </article>
            <article class="base-article">
                Category description:
                <br> <input maxlength="250" size = "80" type="text" name="newDescription">
            </article>
        </div>
            <button type='submit' class="cancel-button" name='submit' value="cancel">Cancel</button>
            <button type='submit' class="confirm-button" name='submit' value="confirm">Confirm</button>
        </form>



    </main>

{% endblock %}